node_modules
bower_components
.sass-cache
build
demos/*
demos1
TODO.md
npm-debug.log
lib
*.sublime-*
.idea
yarn.lock
.vscode
exampleslib
examples/scripts/configs.json
jquery.html
docs/fonts/
docs/ajax-loader.gif
package-lock.json
.DS_Store
