doctype html
html(lang="en")
  head
    block css
      link(rel="stylesheet" type="text/css", href="/app.css")
    block extra-css
    block head
    block extra-head
    
  body
    block content
      .container
        h1 Single Item

    block js
      script(type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js")
      script(type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.3.15/slick.min.js")