h3{
  background:#333;
  color: #fff;
  font-size:36px;
  line-height:100px;
  margin:10px;
  padding:2%;
  position:relative;
  text-align:center;
}
.variable-width .slick-slide p {
  background: #333;
  height: 100px;
  color:#fff;
  margin: 5px;
  line-height: 100px;
}
.center .slick-center h3{
  color:#e67e22;
  opacity:1;
  transform:scale(1.08);
}
.center h3{
  opacity:0.8;transition:all 300ms ease;
}
.content {
  padding:20px;
  margin: auto; 
}
.slick-slide .image{
  padding:10px;
}
.slick-slide img{
  border:5px solid #FFF;
  display:block;
  width:100%;
}
.slick-slide img.slick-loading{
  border:0
}
.slick-slider{
  margin:30px auto 50px;
}
@media (max-width: 768px) {
  h3{font-size:24px;}
  .center{
    margin-left:-40px;
    margin-right:-40px;
  }
  .center .slick-center h3{
    color:#e67e22;
    opacity:1;
    transform:scale(1);
  }
  .center h3{
    opacity:0.8;
    transform:scale(0.95);
    transition:all 300ms ease;
  }
}