
@import "foundation-apps/scss/foundation";
$primary-color: #00558B;

$slick-font-path: "/fonts/";
$slick-arrow-color: $primary-color;

@import "slick-carousel/slick/slick";
@import "slick-carousel/slick/slick-theme";
@import "./style";
